# Directorios
/bin
/obj

# Archivos de usuario
MyWinFormsApp.csproj
*.suo

# Archivos de Visual Studio
/.vs

# Archivos temporales
*.tmp
*.cache

# Archivos de configuración local
*.Development.json

# Logs
*.log